.card {
  display: flex;
  flex-direction: column;
  min-height: 0;
  padding: 0;
  position: relative;

  background: #ffffff;
  border: none;
  border-radius: $global-radius;
  box-shadow: 0px 1px 3px 0px #d4d4d5, 0px 0px 0px 1px #d4d4d5;

  &__media {
  }
  &__body {
    padding: 1em;
  }
  &__footer {
    margin-top: auto;
    padding: 0 1em 1em;
  }
}
