// Utilities
//––––––––––––––––––––––––––––––––––––––––––––––––––

.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}
.embed-container iframe,
.embed-container video,
.embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.img-responsive{
  width: 100%;
  max-width: 100%;
  vertical-align: top;
  object-fit: cover;
}

.defs-only {
  position: absolute;
  height: 0;
  width: 0;
  left: -100%;
}